@model Atis.Domain.Models.aspnet_User     	

       <!-- Create Skriptdatum:  01.02.2012  10:32    -->

@{
    ViewBag.Title = aspnet_UsersRes.StringsRes.Create;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@aspnet_UsersRes.StringsRes.Create </h2>

@Html.Partial("_Form"); 

    
