@model Atis.Domain.Models.aspnet_Membership

       <!-- Edit Skriptdatum:  06.02.2012  10:32    -->

@{
    ViewBag.Title = aspnet_MembershipsRes.StringsRes.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@aspnet_MembershipsRes.StringsRes.Edit</h2>

@Html.Partial("_Form");

    
