@model Atis.Domain.Models.Tbl63Infratribus

       <!-- Edit Skriptdatum:  7.1.2012  10:32    -->

@{
    ViewBag.Title = Tbl63InfratribussesRes.StringsRes.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl63InfratribussesRes.StringsRes.Edit</h2>

@Html.Partial("_Form");

    
