@model Atis.Domain.Models.Tbl39Infraordo

       <!-- Edit Skriptdatum:  7.1.2012  10:32    -->

@{
    ViewBag.Title = Tbl39InfraordosRes.StringsRes.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl39InfraordosRes.StringsRes.Edit</h2>

@Html.Partial("_Form");

    
