@model Atis.Domain.Models.Tbl42Superfamily

       <!-- Edit Skriptdatum:  15.03.2012  10:32    -->

@{
    ViewBag.Title = Tbl42SuperfamiliesRes.StringsRes.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl42SuperfamiliesRes.StringsRes.Edit</h2>

@Html.Partial("_Form");

    
