USE [master]
GO
/****** Object:  Database [ATIS35]    Script Date: 06.06.2020 15:12:21 ******/
CREATE DATABASE [ATIS35]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ATIS35', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ATIS35.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB ), 
 FILEGROUP [VIDEOFILES] CONTAINS FILESTREAM  DEFAULT
( NAME = N'Video_Stream', FILENAME = N'D:\DB_FS_ATIS35\Video_Stream' , MAXSIZE = UNLIMITED)
 LOG ON 
( NAME = N'ATIS35_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ATIS35_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ATIS35].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ATIS35]
GO
/****** Object:  Table [dbo].[Tbl03Regnums]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl03Regnums](
	[RegnumID] [int] IDENTITY(1,1) NOT NULL,
	[RegnumName] [nvarchar](100) NOT NULL,
	[Subregnum] [nvarchar](100) NULL,
	[CountID] [int] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[Synonym] [nvarchar](max) NULL,
	[Author] [nvarchar](60) NULL,
	[AuthorYear] [nvarchar](4) NULL,
	[Info] [nvarchar](100) NULL,
	[EngName] [nvarchar](200) NULL,
	[GerName] [nvarchar](200) NULL,
	[FraName] [nvarchar](200) NULL,
	[PorName] [nvarchar](200) NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[Memo] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl03Regnums] PRIMARY KEY CLUSTERED 
(
	[RegnumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl03Regnums_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl03Regnums_RegnumName] UNIQUE NONCLUSTERED 
(
	[RegnumName] ASC,
	[Subregnum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl06Phylums]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl06Phylums](
	[PhylumID] [int] IDENTITY(1,1) NOT NULL,
	[PhylumName] [nvarchar](100) NOT NULL,
	[RegnumID] [int] NOT NULL,
	[CountID] [int] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[Synonym] [nvarchar](max) NULL,
	[Author] [nvarchar](60) NULL,
	[AuthorYear] [nvarchar](4) NULL,
	[Info] [nvarchar](100) NULL,
	[EngName] [nvarchar](200) NULL,
	[GerName] [nvarchar](200) NULL,
	[FraName] [nvarchar](200) NULL,
	[PorName] [nvarchar](200) NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[Memo] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl06Phylums] PRIMARY KEY CLUSTERED 
(
	[PhylumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl06Phylums_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl06Phylums_PhylumName] UNIQUE NONCLUSTERED 
(
	[PhylumName] ASC,
	[RegnumID] ASC,
	[Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl09Divisions]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl09Divisions](
	[DivisionID] [int] IDENTITY(1,1) NOT NULL,
	[DivisionName] [nvarchar](100) NOT NULL,
	[RegnumID] [int] NOT NULL,
	[CountID] [int] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[Synonym] [nvarchar](max) NULL,
	[Author] [nvarchar](60) NULL,
	[AuthorYear] [nvarchar](4) NULL,
	[Info] [nvarchar](100) NULL,
	[EngName] [nvarchar](200) NULL,
	[GerName] [nvarchar](200) NULL,
	[FraName] [nvarchar](200) NULL,
	[PorName] [nvarchar](200) NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[Memo] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl09Divisions] PRIMARY KEY CLUSTERED 
(
	[DivisionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl09Divisions_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl09Divisions_DivisionName] UNIQUE NONCLUSTERED 
(
	[DivisionName] ASC,
	[RegnumID] ASC,
	[Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl12Subphylums]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl12Subphylums](
	[SubphylumID] [int] IDENTITY(1,1) NOT NULL,
	[SubphylumName] [nvarchar](100) NOT NULL,
	[PhylumID] [int] NOT NULL,
	[CountID] [int] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[Synonym] [nvarchar](max) NULL,
	[Author] [nvarchar](60) NULL,
	[AuthorYear] [nvarchar](4) NULL,
	[Info] [nvarchar](100) NULL,
	[EngName] [nvarchar](200) NULL,
	[GerName] [nvarchar](200) NULL,
	[FraName] [nvarchar](200) NULL,
	[PorName] [nvarchar](200) NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[Memo] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl12Subphylums] PRIMARY KEY CLUSTERED 
(
	[SubphylumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl12Subphylums_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl12Subphylums_SubphylumName] UNIQUE NONCLUSTERED 
(
	[SubphylumName] ASC,
	[PhylumID] ASC,
	[Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl15Subdivisions]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl15Subdivisions](
	[SubdivisionID] [int] IDENTITY(1,1) NOT NULL,
	[SubdivisionName] [nvarchar](100) NOT NULL,
	[DivisionID] [int] NOT NULL,
	[CountID] [int] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[Synonym] [nvarchar](max) NULL,
	[Author] [nvarchar](60) NULL,
	[AuthorYear] [nvarchar](4) NULL,
	[Info] [nvarchar](100) NULL,
	[EngName] [nvarchar](200) NULL,
	[GerName] [nvarchar](200) NULL,
	[FraName] [nvarchar](200) NULL,
	[PorName] [nvarchar](200) NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[Memo] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl15Subdivisions] PRIMARY KEY CLUSTERED 
(
	[SubdivisionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl15Subdivisions_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl15Subdivisions_SubdivisionName] UNIQUE NONCLUSTERED 
(
	[SubdivisionName] ASC,
	[DivisionID] ASC,
	[Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl18Superclasses]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl18Superclasses](
	[SuperclassID] [int] IDENTITY(1,1) NOT NULL,
	[SuperclassName] [nvarchar](100) NOT NULL,
	[SubphylumID] [int] NOT NULL,
	[SubdivisionID] [int] NOT NULL,
	[CountID] [int] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[Synonym] [nvarchar](max) NULL,
	[Author] [nvarchar](60) NULL,
	[AuthorYear] [nvarchar](4) NULL,
	[Info] [nvarchar](100) NULL,
	[EngName] [nvarchar](200) NULL,
	[GerName] [nvarchar](200) NULL,
	[FraName] [nvarchar](200) NULL,
	[PorName] [nvarchar](200) NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[Memo] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl18Superclasses] PRIMARY KEY CLUSTERED 
(
	[SuperclassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl18Superclasses_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl18Superclasses_SuperclassName] UNIQUE NONCLUSTERED 
(
	[SuperclassName] ASC,
	[SubdivisionID] ASC,
	[SubphylumID] ASC,
	[Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl21Classes]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl21Classes](
	[ClassID] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [nvarchar](100) NOT NULL,
	[SuperclassID] [int] NOT NULL,
	[CountID] [int] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[Synonym] [nvarchar](max) NULL,
	[Author] [nvarchar](60) NULL,
	[AuthorYear] [nvarchar](4) NULL,
	[Info] [nvarchar](100) NULL,
	[EngName] [nvarchar](200) NULL,
	[GerName] [nvarchar](200) NULL,
	[FraName] [nvarchar](200) NULL,
	[PorName] [nvarchar](200) NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[Memo] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl21Classes] PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl21Classes_ClassName] UNIQUE NONCLUSTERED 
(
	[ClassName] ASC,
	[SuperclassID] ASC,
	[Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl21Classes_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl24Subclasses]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl24Subclasses](
	[SubclassID] [int] IDENTITY(1,1) NOT NULL,
	[SubclassName] [nvarchar](100) NOT NULL,
	[ClassID] [int] NOT NULL,
	[CountID] [int] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[Synonym] [nvarchar](max) NULL,
	[Author] [nvarchar](60) NULL,
	[AuthorYear] [nvarchar](4) NULL,
	[Info] [nvarchar](100) NULL,
	[EngName] [nvarchar](200) NULL,
	[GerName] [nvarchar](200) NULL,
	[FraName] [nvarchar](200) NULL,
	[PorName] [nvarchar](200) NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[Memo] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl24Subclasses] PRIMARY KEY CLUSTERED 
(
	[SubclassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl24Subclasses_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl24Subclasses_SubclassName] UNIQUE NONCLUSTERED 
(
	[SubclassName] ASC,
	[ClassID] ASC,
	[Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl27Infraclasses]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl27Infraclasses](
	[InfraclassID] [int] IDENTITY(1,1) NOT NULL,
	[InfraclassName] [nvarchar](100) NOT NULL,
	[SubclassID] [int] NOT NULL,
	[CountID] [int] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[Synonym] [nvarchar](max) NULL,
	[Author] [nvarchar](60) NULL,
	[AuthorYear] [nvarchar](4) NULL,
	[Info] [nvarchar](100) NULL,
	[EngName] [nvarchar](200) NULL,
	[GerName] [nvarchar](200) NULL,
	[FraName] [nvarchar](200) NULL,
	[PorName] [nvarchar](200) NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[Memo] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl27Infraclasses] PRIMARY KEY CLUSTERED 
(
	[InfraclassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl27Infraclasses_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl27Infraclasses_InfraclassName] UNIQUE NONCLUSTERED 
(
	[InfraclassName] ASC,
	[SubclassID] ASC,
	[Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl30Legios]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl30Legios](
	[LegioID] [int] IDENTITY(1,1) NOT NULL,
	[LegioName] [nvarchar](100) NOT NULL,
	[InfraclassID] [int] NOT NULL,
	[CountID] [int] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[Synonym] [nvarchar](max) NULL,
	[Author] [nvarchar](60) NULL,
	[AuthorYear] [nvarchar](4) NULL,
	[Info] [nvarchar](100) NULL,
	[EngName] [nvarchar](200) NULL,
	[GerName] [nvarchar](200) NULL,
	[FraName] [nvarchar](200) NULL,
	[PorName] [nvarchar](200) NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[Memo] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl30Legios] PRIMARY KEY CLUSTERED 
(
	[LegioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl30Legios_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl30Legios_LegioName] UNIQUE NONCLUSTERED 
(
	[LegioName] ASC,
	[InfraclassID] ASC,
	[Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl33Ordos]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl33Ordos](
	[OrdoID] [int] IDENTITY(1,1) NOT NULL,
	[OrdoName] [nvarchar](100) NOT NULL,
	[LegioID] [int] NOT NULL,
	[CountID] [int] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[Synonym] [nvarchar](max) NULL,
	[Author] [nvarchar](60) NULL,
	[AuthorYear] [nvarchar](4) NULL,
	[Info] [nvarchar](100) NULL,
	[EngName] [nvarchar](200) NULL,
	[GerName] [nvarchar](200) NULL,
	[FraName] [nvarchar](200) NULL,
	[PorName] [nvarchar](200) NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[Memo] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl33Ordos] PRIMARY KEY CLUSTERED 
(
	[OrdoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl33Ordos_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl33Ordos_OrdoName] UNIQUE NONCLUSTERED 
(
	[OrdoName] ASC,
	[LegioID] ASC,
	[Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl36Subordos]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl36Subordos](
	[SubordoID] [int] IDENTITY(1,1) NOT NULL,
	[SubordoName] [nvarchar](100) NOT NULL,
	[OrdoID] [int] NOT NULL,
	[CountID] [int] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[Synonym] [nvarchar](max) NULL,
	[Author] [nvarchar](60) NULL,
	[AuthorYear] [nvarchar](4) NULL,
	[Info] [nvarchar](100) NULL,
	[EngName] [nvarchar](200) NULL,
	[GerName] [nvarchar](200) NULL,
	[FraName] [nvarchar](200) NULL,
	[PorName] [nvarchar](200) NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[Memo] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl36Subordos] PRIMARY KEY CLUSTERED 
(
	[SubordoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl36Subordos_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl36Subordos_SubordoName] UNIQUE NONCLUSTERED 
(
	[SubordoName] ASC,
	[OrdoID] ASC,
	[Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl39Infraordos]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl39Infraordos](
	[InfraordoID] [int] IDENTITY(1,1) NOT NULL,
	[InfraordoName] [nvarchar](100) NOT NULL,
	[SubordoID] [int] NOT NULL,
	[CountID] [int] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[Synonym] [nvarchar](max) NULL,
	[Author] [nvarchar](60) NULL,
	[AuthorYear] [nvarchar](4) NULL,
	[Info] [nvarchar](100) NULL,
	[EngName] [nvarchar](200) NULL,
	[GerName] [nvarchar](200) NULL,
	[FraName] [nvarchar](200) NULL,
	[PorName] [nvarchar](200) NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[Memo] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl39Infraordos] PRIMARY KEY CLUSTERED 
(
	[InfraordoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl39Infraordos_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl39Infraordos_InfraordoName] UNIQUE NONCLUSTERED 
(
	[InfraordoName] ASC,
	[SubordoID] ASC,
	[Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl42Superfamilies]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl42Superfamilies](
	[SuperfamilyID] [int] IDENTITY(1,1) NOT NULL,
	[SuperfamilyName] [nvarchar](100) NOT NULL,
	[InfraordoID] [int] NOT NULL,
	[CountID] [int] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[Synonym] [nvarchar](max) NULL,
	[Author] [nvarchar](60) NULL,
	[AuthorYear] [nvarchar](4) NULL,
	[Info] [nvarchar](100) NULL,
	[EngName] [nvarchar](200) NULL,
	[GerName] [nvarchar](200) NULL,
	[FraName] [nvarchar](200) NULL,
	[PorName] [nvarchar](200) NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[Memo] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl42Superfamilies] PRIMARY KEY CLUSTERED 
(
	[SuperfamilyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl42Superfamilies_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl42Superfamilies_SuperfamilyName] UNIQUE NONCLUSTERED 
(
	[SuperfamilyName] ASC,
	[InfraordoID] ASC,
	[Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl45Families]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl45Families](
	[FamilyID] [int] IDENTITY(1,1) NOT NULL,
	[FamilyName] [nvarchar](100) NOT NULL,
	[SuperfamilyID] [int] NOT NULL,
	[CountID] [int] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[Synonym] [nvarchar](max) NULL,
	[Author] [nvarchar](60) NULL,
	[AuthorYear] [nvarchar](4) NULL,
	[Info] [nvarchar](100) NULL,
	[EngName] [nvarchar](200) NULL,
	[GerName] [nvarchar](200) NULL,
	[FraName] [nvarchar](200) NULL,
	[PorName] [nvarchar](200) NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[Memo] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl45Families] PRIMARY KEY CLUSTERED 
(
	[FamilyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl45Families_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl45Families_FamilyName] UNIQUE NONCLUSTERED 
(
	[FamilyName] ASC,
	[SuperfamilyID] ASC,
	[Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl48Subfamilies]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl48Subfamilies](
	[SubfamilyID] [int] IDENTITY(1,1) NOT NULL,
	[SubfamilyName] [nvarchar](100) NOT NULL,
	[FamilyID] [int] NOT NULL,
	[CountID] [int] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[Synonym] [nvarchar](max) NULL,
	[Author] [nvarchar](60) NULL,
	[AuthorYear] [nvarchar](4) NULL,
	[Info] [nvarchar](100) NULL,
	[EngName] [nvarchar](200) NULL,
	[GerName] [nvarchar](200) NULL,
	[FraName] [nvarchar](200) NULL,
	[PorName] [nvarchar](200) NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[Memo] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl48Subfamilies] PRIMARY KEY CLUSTERED 
(
	[SubfamilyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl48Subfamilies_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl48Subfamilies_SubfamilyName] UNIQUE NONCLUSTERED 
(
	[SubfamilyName] ASC,
	[FamilyID] ASC,
	[Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl51Infrafamilies]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl51Infrafamilies](
	[InfrafamilyID] [int] IDENTITY(1,1) NOT NULL,
	[InfrafamilyName] [nvarchar](100) NOT NULL,
	[SubfamilyID] [int] NOT NULL,
	[CountID] [int] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[Synonym] [nvarchar](max) NULL,
	[Author] [nvarchar](60) NULL,
	[AuthorYear] [nvarchar](4) NULL,
	[Info] [nvarchar](100) NULL,
	[EngName] [nvarchar](200) NULL,
	[GerName] [nvarchar](200) NULL,
	[FraName] [nvarchar](200) NULL,
	[PorName] [nvarchar](200) NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[Memo] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl51Infrafamilies] PRIMARY KEY CLUSTERED 
(
	[InfrafamilyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl51Infrafamilies_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl51Infrafamilies_InfrafamilyName] UNIQUE NONCLUSTERED 
(
	[InfrafamilyName] ASC,
	[SubfamilyID] ASC,
	[Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl54Supertribusses]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl54Supertribusses](
	[SupertribusID] [int] IDENTITY(1,1) NOT NULL,
	[SupertribusName] [nvarchar](100) NOT NULL,
	[InfrafamilyID] [int] NOT NULL,
	[CountID] [int] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[Synonym] [nvarchar](max) NULL,
	[Author] [nvarchar](60) NULL,
	[AuthorYear] [nvarchar](4) NULL,
	[Info] [nvarchar](100) NULL,
	[EngName] [nvarchar](200) NULL,
	[GerName] [nvarchar](200) NULL,
	[FraName] [nvarchar](200) NULL,
	[PorName] [nvarchar](200) NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[Memo] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl54Supertribusses] PRIMARY KEY CLUSTERED 
(
	[SupertribusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl54Supertribusses_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl54Supertribusses_SupertribusName] UNIQUE NONCLUSTERED 
(
	[SupertribusName] ASC,
	[InfrafamilyID] ASC,
	[Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl57Tribusses]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl57Tribusses](
	[TribusID] [int] IDENTITY(1,1) NOT NULL,
	[TribusName] [nvarchar](100) NOT NULL,
	[SupertribusID] [int] NOT NULL,
	[CountID] [int] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[Synonym] [nvarchar](max) NULL,
	[Author] [nvarchar](60) NULL,
	[AuthorYear] [nvarchar](4) NULL,
	[Info] [nvarchar](100) NULL,
	[EngName] [nvarchar](200) NULL,
	[GerName] [nvarchar](200) NULL,
	[FraName] [nvarchar](200) NULL,
	[PorName] [nvarchar](200) NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[Memo] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl57Tribusses] PRIMARY KEY CLUSTERED 
(
	[TribusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl57Tribusses_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl57Tribusses_TribusName] UNIQUE NONCLUSTERED 
(
	[TribusName] ASC,
	[SupertribusID] ASC,
	[Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl60Subtribusses]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl60Subtribusses](
	[SubtribusID] [int] IDENTITY(1,1) NOT NULL,
	[SubtribusName] [nvarchar](100) NOT NULL,
	[TribusID] [int] NOT NULL,
	[CountID] [int] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[Synonym] [nvarchar](max) NULL,
	[Author] [nvarchar](60) NULL,
	[AuthorYear] [nvarchar](4) NULL,
	[Info] [nvarchar](100) NULL,
	[EngName] [nvarchar](200) NULL,
	[GerName] [nvarchar](200) NULL,
	[FraName] [nvarchar](200) NULL,
	[PorName] [nvarchar](200) NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[Memo] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl60Subtribusses] PRIMARY KEY CLUSTERED 
(
	[SubtribusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl60Subtribusses_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl60Subtribusses_SubtribusName] UNIQUE NONCLUSTERED 
(
	[SubtribusName] ASC,
	[TribusID] ASC,
	[Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl63Infratribusses]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl63Infratribusses](
	[InfratribusID] [int] IDENTITY(1,1) NOT NULL,
	[InfratribusName] [nvarchar](100) NOT NULL,
	[SubtribusID] [int] NOT NULL,
	[CountID] [int] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[Synonym] [nvarchar](max) NULL,
	[Author] [nvarchar](60) NULL,
	[AuthorYear] [nvarchar](4) NULL,
	[Info] [nvarchar](100) NULL,
	[EngName] [nvarchar](200) NULL,
	[GerName] [nvarchar](200) NULL,
	[FraName] [nvarchar](200) NULL,
	[PorName] [nvarchar](200) NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[Memo] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl63Infratribusses] PRIMARY KEY CLUSTERED 
(
	[InfratribusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl63Infratribusses_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl63Infratribusses_InfratribusName] UNIQUE NONCLUSTERED 
(
	[InfratribusName] ASC,
	[SubtribusID] ASC,
	[Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl66Genusses]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl66Genusses](
	[GenusID] [int] IDENTITY(1,1) NOT NULL,
	[GenusName] [nvarchar](100) NOT NULL,
	[InfratribusID] [int] NOT NULL,
	[CountID] [int] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[Synonym] [nvarchar](max) NULL,
	[Author] [nvarchar](100) NULL,
	[AuthorYear] [nvarchar](4) NULL,
	[Info] [nvarchar](100) NULL,
	[EngName] [nvarchar](200) NULL,
	[GerName] [nvarchar](200) NULL,
	[FraName] [nvarchar](200) NULL,
	[PorName] [nvarchar](200) NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[Memo] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl66Genusses] PRIMARY KEY CLUSTERED 
(
	[GenusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl66Genusses_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl66Genusses_GenusName] UNIQUE NONCLUSTERED 
(
	[GenusName] ASC,
	[InfratribusID] ASC,
	[Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl68Speciesgroups]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl68Speciesgroups](
	[SpeciesgroupID] [int] IDENTITY(1,1) NOT NULL,
	[SpeciesgroupName] [nvarchar](100) NOT NULL,
	[Subspeciesgroup] [nvarchar](100) NULL,
	[CountID] [int] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[Synonym] [nvarchar](max) NULL,
	[Author] [nvarchar](60) NULL,
	[AuthorYear] [nvarchar](4) NULL,
	[Info] [nvarchar](100) NULL,
	[EngName] [nvarchar](200) NULL,
	[GerName] [nvarchar](200) NULL,
	[FraName] [nvarchar](200) NULL,
	[PorName] [nvarchar](200) NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[Memo] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl68Speciesgroups] PRIMARY KEY CLUSTERED 
(
	[SpeciesgroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl68Speciesgroups_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl68Speciesgroups_SpeciesgroupName] UNIQUE NONCLUSTERED 
(
	[SpeciesgroupName] ASC,
	[Subspeciesgroup] ASC,
	[Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl69FiSpeciesses]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl69FiSpeciesses](
	[FiSpeciesID] [int] IDENTITY(1,1) NOT NULL,
	[FiSpeciesName] [nvarchar](100) NOT NULL,
	[Subspecies] [nvarchar](100) NULL,
	[Divers] [nvarchar](100) NULL,
	[GenusID] [int] NOT NULL,
	[SpeciesgroupID] [int] NULL,
	[CountID] [int] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[MemoSpecies] [nvarchar](max) NULL,
	[TradeName] [nvarchar](100) NULL,
	[Author] [nvarchar](60) NULL,
	[AuthorYear] [nvarchar](4) NULL,
	[Importer] [nvarchar](60) NULL,
	[ImportingYear] [nvarchar](4) NULL,
	[TypeSpecies] [bit] NULL,
	[LNumber] [nvarchar](10) NULL,
	[LOrigin] [nvarchar](50) NULL,
	[LDANumber] [nvarchar](10) NULL,
	[LDAOrigin] [nvarchar](50) NULL,
	[BasinLength] [int] NULL,
	[FishLength] [decimal](4, 1) NULL,
	[Karnivore] [bit] NULL,
	[Herbivore] [bit] NULL,
	[Limnivore] [bit] NULL,
	[Omnivore] [bit] NULL,
	[MemoFoods] [nvarchar](max) NULL,
	[Difficult1] [bit] NULL,
	[Difficult2] [bit] NULL,
	[Difficult3] [bit] NULL,
	[Difficult4] [bit] NULL,
	[RegionTop] [bit] NULL,
	[RegionMiddle] [bit] NULL,
	[RegionBottom] [bit] NULL,
	[MemoRegion] [nvarchar](max) NULL,
	[MemoTech] [nvarchar](max) NULL,
	[Ph1] [decimal](2, 1) NULL,
	[Ph2] [decimal](2, 1) NULL,
	[Temp1] [int] NULL,
	[Temp2] [int] NULL,
	[Hardness1] [int] NULL,
	[Hardness2] [int] NULL,
	[CarboHardness1] [int] NULL,
	[CarboHardness2] [int] NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[MemoHusbandry] [nvarchar](max) NULL,
	[MemoBreeding] [nvarchar](max) NULL,
	[MemoBuilt] [nvarchar](max) NULL,
	[MemoColor] [nvarchar](max) NULL,
	[MemoSozial] [nvarchar](max) NULL,
	[MemoDomorphism] [nvarchar](max) NULL,
	[MemoSpecial] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl69FiSpeciesses] PRIMARY KEY CLUSTERED 
(
	[FiSpeciesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl69FiSpeciesses_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl69FiSpeciesses_FiSpeciesName] UNIQUE NONCLUSTERED 
(
	[GenusID] ASC,
	[FiSpeciesName] ASC,
	[Subspecies] ASC,
	[Divers] ASC,
	[Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl72PlSpeciesses]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl72PlSpeciesses](
	[PlSpeciesID] [int] IDENTITY(1,1) NOT NULL,
	[PlSpeciesName] [nvarchar](100) NOT NULL,
	[Subspecies] [nvarchar](100) NULL,
	[Divers] [nvarchar](100) NULL,
	[GenusID] [int] NOT NULL,
	[SpeciesgroupID] [int] NULL,
	[CountID] [int] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[MemoSpecies] [nvarchar](max) NULL,
	[TradeName] [nvarchar](100) NULL,
	[Author] [nvarchar](60) NULL,
	[AuthorYear] [nvarchar](4) NULL,
	[Importer] [nvarchar](60) NULL,
	[ImportingYear] [nvarchar](4) NULL,
	[BasinHeight] [int] NULL,
	[PlantLength] [decimal](3, 1) NULL,
	[Difficult1] [bit] NULL,
	[Difficult2] [bit] NULL,
	[Difficult3] [bit] NULL,
	[Difficult4] [bit] NULL,
	[MemoTech] [nvarchar](max) NULL,
	[Ph1] [decimal](2, 1) NULL,
	[Ph2] [decimal](2, 1) NULL,
	[Temp1] [int] NULL,
	[Temp2] [int] NULL,
	[Hardness1] [int] NULL,
	[Hardness2] [int] NULL,
	[CarboHardness1] [int] NULL,
	[CarboHardness2] [int] NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[MemoBuilt] [nvarchar](max) NULL,
	[MemoColor] [nvarchar](max) NULL,
	[MemoReproduction] [nvarchar](max) NULL,
	[MemoCulture] [nvarchar](max) NULL,
	[MemoGlobal] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl72PlSpeciesses] PRIMARY KEY CLUSTERED 
(
	[PlSpeciesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl72PlSpeciesses_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl72PlSpeciesses_PlSpeciesName] UNIQUE NONCLUSTERED 
(
	[GenusID] ASC,
	[PlSpeciesName] ASC,
	[Subspecies] ASC,
	[Divers] ASC,
	[Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl78Names]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl78Names](
	[NameID] [int] IDENTITY(1,1) NOT NULL,
	[NameName] [nvarchar](100) NOT NULL,
	[FiSpeciesID] [int] NOT NULL,
	[PlSpeciesID] [int] NOT NULL,
	[CountID] [int] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[Language] [nvarchar](3) NULL,
	[Info] [nvarchar](100) NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[Memo] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl78Names] PRIMARY KEY CLUSTERED 
(
	[NameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl78Names_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl78Names_NameName_FKID] UNIQUE NONCLUSTERED 
(
	[NameName] ASC,
	[FiSpeciesID] ASC,
	[PlSpeciesID] ASC,
	[Language] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl81Images]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl81Images](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[FiSpeciesID] [int] NOT NULL,
	[PlSpeciesID] [int] NOT NULL,
	[CountID] [int] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[ShotDate] [date] NULL,
	[Info] [nvarchar](100) NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[Memo] [nvarchar](max) NULL,
	[ImageData] [varbinary](max) NULL,
	[ImageMimeType] [nvarchar](50) NULL,
	[Filestream] [varbinary](max) FILESTREAM  NULL,
	[FilestreamID] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl81Images] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY] FILESTREAM_ON [VIDEOFILES],
 CONSTRAINT [IX_Tbl81Images_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_medien_stream] UNIQUE NONCLUSTERED 
(
	[FilestreamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY] FILESTREAM_ON [VIDEOFILES]
GO
/****** Object:  Table [dbo].[Tbl84Synonyms]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl84Synonyms](
	[SynonymID] [int] IDENTITY(1,1) NOT NULL,
	[SynonymName] [nvarchar](100) NOT NULL,
	[FiSpeciesID] [int] NOT NULL,
	[PlSpeciesID] [int] NOT NULL,
	[CountID] [int] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[Author] [nvarchar](60) NULL,
	[AuthorYear] [nvarchar](4) NULL,
	[Info] [nvarchar](100) NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[Memo] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl84Synonyms] PRIMARY KEY CLUSTERED 
(
	[SynonymID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl84Synonyms_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl84Synonyms_SynonymName_FKID] UNIQUE NONCLUSTERED 
(
	[SynonymName] ASC,
	[Author] ASC,
	[FiSpeciesID] ASC,
	[PlSpeciesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl87Geographics]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl87Geographics](
	[GeographicID] [int] IDENTITY(1,1) NOT NULL,
	[Address] [nvarchar](100) NULL,
	[Continent] [nvarchar](100) NULL,
	[Country] [nvarchar](100) NULL,
	[FiSpeciesID] [int] NOT NULL,
	[PlSpeciesID] [int] NOT NULL,
	[CountID] [int] NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[Latitude1] [float] NOT NULL,
	[Longitude1] [float] NOT NULL,
	[Latitude2] [float] NOT NULL,
	[Longitude2] [float] NOT NULL,
	[Latitude3] [float] NOT NULL,
	[Longitude3] [float] NOT NULL,
	[ZoomLevel] [float] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[Author] [nvarchar](60) NULL,
	[AuthorYear] [nvarchar](4) NULL,
	[Http] [nvarchar](100) NULL,
	[Info] [nvarchar](100) NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[Memo] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl87Geographics] PRIMARY KEY CLUSTERED 
(
	[GeographicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl87Geographics_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl90RefAuthors]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl90RefAuthors](
	[RefAuthorID] [int] IDENTITY(1,1) NOT NULL,
	[CountID] [int] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[RefAuthorName] [nvarchar](200) NULL,
	[PublicationYear] [nvarchar](4) NULL,
	[ArticelTitle] [nvarchar](300) NULL,
	[BookName] [nvarchar](200) NULL,
	[Page] [nvarchar](60) NULL,
	[Page1] [nvarchar](60) NULL,
	[Publisher] [nvarchar](200) NULL,
	[PublicationPlace] [nvarchar](100) NULL,
	[ISBN] [nvarchar](60) NULL,
	[Notes] [nvarchar](max) NULL,
	[Info] [nvarchar](100) NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[Memo] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl90RefAuthors] PRIMARY KEY CLUSTERED 
(
	[RefAuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl90RefAuthors_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl90References]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl90References](
	[ReferenceID] [int] IDENTITY(1,1) NOT NULL,
	[FiSpeciesID] [int] NULL,
	[PlSpeciesID] [int] NULL,
	[GenusID] [int] NULL,
	[InfratribusID] [int] NULL,
	[SubtribusID] [int] NULL,
	[TribusID] [int] NULL,
	[SupertribusID] [int] NULL,
	[InfrafamilyID] [int] NULL,
	[SubfamilyID] [int] NULL,
	[FamilyID] [int] NULL,
	[SuperfamilyID] [int] NULL,
	[InfraordoID] [int] NULL,
	[SubordoID] [int] NULL,
	[OrdoID] [int] NULL,
	[LegioID] [int] NULL,
	[InfraclassID] [int] NULL,
	[SubclassID] [int] NULL,
	[ClassID] [int] NULL,
	[SuperclassID] [int] NULL,
	[SubdivisionID] [int] NULL,
	[SubphylumID] [int] NULL,
	[DivisionID] [int] NULL,
	[PhylumID] [int] NULL,
	[RegnumID] [int] NULL,
	[RefExpertID] [int] NULL,
	[RefSourceID] [int] NULL,
	[RefAuthorID] [int] NULL,
	[CountID] [int] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[Info] [nvarchar](100) NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[Memo] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl90References] PRIMARY KEY CLUSTERED 
(
	[ReferenceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl90References_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl90RefExperts]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl90RefExperts](
	[RefExpertID] [int] IDENTITY(1,1) NOT NULL,
	[CountID] [int] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[RefExpertName] [nvarchar](300) NULL,
	[Notes] [nvarchar](max) NULL,
	[Info] [nvarchar](100) NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[Memo] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl90RefExperts] PRIMARY KEY CLUSTERED 
(
	[RefExpertID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl90RefExperts_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl90RefSources]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl90RefSources](
	[RefSourceID] [int] IDENTITY(1,1) NOT NULL,
	[CountID] [int] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[RefSourceName] [nvarchar](300) NULL,
	[SourceYear] [nvarchar](4) NULL,
	[Author] [nvarchar](400) NULL,
	[Notes] [nvarchar](max) NULL,
	[Info] [nvarchar](100) NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[Memo] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl90RefSources] PRIMARY KEY CLUSTERED 
(
	[RefSourceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl90RefSources_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl93Comments]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl93Comments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[FiSpeciesID] [int] NULL,
	[PlSpeciesID] [int] NULL,
	[GenusID] [int] NULL,
	[InfratribusID] [int] NULL,
	[SubtribusID] [int] NULL,
	[TribusID] [int] NULL,
	[SupertribusID] [int] NULL,
	[InfrafamilyID] [int] NULL,
	[SubfamilyID] [int] NULL,
	[FamilyID] [int] NULL,
	[SuperfamilyID] [int] NULL,
	[InfraordoID] [int] NULL,
	[SubordoID] [int] NULL,
	[OrdoID] [int] NULL,
	[LegioID] [int] NULL,
	[InfraclassID] [int] NULL,
	[SubclassID] [int] NULL,
	[ClassID] [int] NULL,
	[SuperclassID] [int] NULL,
	[SubdivisionID] [int] NULL,
	[SubphylumID] [int] NULL,
	[DivisionID] [int] NULL,
	[PhylumID] [int] NULL,
	[RegnumID] [int] NULL,
	[CountID] [int] NOT NULL,
	[Valid] [bit] NULL,
	[ValidYear] [nvarchar](4) NULL,
	[Info] [nvarchar](100) NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[Memo] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tbl93Comments] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tbl93Comments_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblCountries]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblCountries](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Regex] [nvarchar](250) NULL,
 CONSTRAINT [PK_TblCountries] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblUserProfiles]    Script Date: 06.06.2020 15:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblUserProfiles](
	[UserProfileID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NULL,
	[FirstName] [nvarchar](100) NULL,
	[Title] [nvarchar](100) NULL,
	[Password] [nvarchar](250) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[Flag] [bit] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Notes] [nvarchar](max) NULL,
	[Colour] [nvarchar](100) NULL,
	[CountID] [int] NOT NULL,
	[BirthDate] [datetime] NULL,
	[Gender] [nvarchar](50) NULL,
	[Country] [nvarchar](100) NULL,
	[Postcode] [nvarchar](50) NULL,
	[City] [nvarchar](100) NULL,
	[Street1] [nvarchar](100) NULL,
	[Street2] [nvarchar](100) NULL,
	[Tel] [nvarchar](100) NULL,
	[Mobil] [nvarchar](100) NULL,
	[Fax] [nvarchar](100) NULL,
	[HomePageURL] [nvarchar](100) NULL,
	[Business] [nvarchar](100) NULL,
	[Company] [nvarchar](100) NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[WriterDate] [datetime] NOT NULL,
	[Updater] [nvarchar](50) NOT NULL,
	[UpdaterDate] [datetime] NOT NULL,
	[Memo] [nvarchar](max) NULL,
	[Filestream] [varbinary](max) NULL,
	[ImageMimeType] [nvarchar](50) NULL,
	[FilestreamID] [uniqueidentifier] NULL,
	[Signature] [nvarchar](50) NULL,
	[MailNewsletter] [bit] NULL,
	[MaulHTML] [bit] NULL,
	[Known] [nvarchar](100) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_UserProfiles] PRIMARY KEY CLUSTERED 
(
	[UserProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_UserProfiles_CountID] UNIQUE NONCLUSTERED 
(
	[CountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_UserProfiles_Name] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tbl03Regnums] ADD  CONSTRAINT [DF_Tbl03Regnums_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl06Phylums] ADD  CONSTRAINT [DF_Tbl06Phylums_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl09Divisions] ADD  CONSTRAINT [DF_Tbl09Divisions_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl12Subphylums] ADD  CONSTRAINT [DF_Tbl12Subphylums_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl15Subdivisions] ADD  CONSTRAINT [DF_Tbl15Subdivisions_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl18Superclasses] ADD  CONSTRAINT [DF_Tbl18Superclasses_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl21Classes] ADD  CONSTRAINT [DF_Tbl21Classes_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl24Subclasses] ADD  CONSTRAINT [DF_Tbl24Subclasses_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl27Infraclasses] ADD  CONSTRAINT [DF_Tbl27Infraclasses_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl30Legios] ADD  CONSTRAINT [DF_Tbl30Legios_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl33Ordos] ADD  CONSTRAINT [DF_Tbl33Ordos_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl36Subordos] ADD  CONSTRAINT [DF_Tbl36Subordos_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl39Infraordos] ADD  CONSTRAINT [DF_Tbl39Infraordos_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl42Superfamilies] ADD  CONSTRAINT [DF_Tbl42Superfamilies_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl45Families] ADD  CONSTRAINT [DF_Tbl45Families_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl48Subfamilies] ADD  CONSTRAINT [DF_Tbl48Subfamilies_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl51Infrafamilies] ADD  CONSTRAINT [DF_Tbl51Infrafamilies_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl54Supertribusses] ADD  CONSTRAINT [DF_Tbl54Supertribusses_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl57Tribusses] ADD  CONSTRAINT [DF_Tbl57Tribusses_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl60Subtribusses] ADD  CONSTRAINT [DF_Tbl60Subtribusses_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl63Infratribusses] ADD  CONSTRAINT [DF_Tbl63Infratribusses_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl66Genusses] ADD  CONSTRAINT [DF_Tbl66Genusses_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl68Speciesgroups] ADD  CONSTRAINT [DF_Tbl68Speciesgroups_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl69FiSpeciesses] ADD  CONSTRAINT [DF_Tbl69FiSpeciesses_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl72PlSpeciesses] ADD  CONSTRAINT [DF_Tbl72PlSpeciesses_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl78Names] ADD  CONSTRAINT [DF_Tbl78Names_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl81Images] ADD  CONSTRAINT [DF_Tbl81Images_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl84Synonyms] ADD  CONSTRAINT [DF_Tbl84Synonyms_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl87Geographics] ADD  CONSTRAINT [DF_Tbl87Geographics_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl90RefAuthors] ADD  CONSTRAINT [DF_Tbl90RefAuthors_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl90References] ADD  CONSTRAINT [DF_Tbl90References_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl90RefExperts] ADD  CONSTRAINT [DF_Tbl90RefExperts_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl90RefSources] ADD  CONSTRAINT [DF_Tbl90RefSources_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl93Comments] ADD  CONSTRAINT [DF_Tbl93Comments_Valid]  DEFAULT ((0)) FOR [Valid]
GO
ALTER TABLE [dbo].[Tbl06Phylums]  WITH CHECK ADD  CONSTRAINT [FK_Tbl06Phylums_Tbl03Regnums] FOREIGN KEY([RegnumID])
REFERENCES [dbo].[Tbl03Regnums] ([RegnumID])
GO
ALTER TABLE [dbo].[Tbl06Phylums] CHECK CONSTRAINT [FK_Tbl06Phylums_Tbl03Regnums]
GO
ALTER TABLE [dbo].[Tbl09Divisions]  WITH CHECK ADD  CONSTRAINT [FK_Tbl09Divisions_Tbl03Regnums] FOREIGN KEY([RegnumID])
REFERENCES [dbo].[Tbl03Regnums] ([RegnumID])
GO
ALTER TABLE [dbo].[Tbl09Divisions] CHECK CONSTRAINT [FK_Tbl09Divisions_Tbl03Regnums]
GO
ALTER TABLE [dbo].[Tbl12Subphylums]  WITH CHECK ADD  CONSTRAINT [FK_Tbl12Subphylums_Tbl06Phylums] FOREIGN KEY([PhylumID])
REFERENCES [dbo].[Tbl06Phylums] ([PhylumID])
GO
ALTER TABLE [dbo].[Tbl12Subphylums] CHECK CONSTRAINT [FK_Tbl12Subphylums_Tbl06Phylums]
GO
ALTER TABLE [dbo].[Tbl15Subdivisions]  WITH CHECK ADD  CONSTRAINT [FK_Tbl15Subdivisions_Tbl09Divisions] FOREIGN KEY([DivisionID])
REFERENCES [dbo].[Tbl09Divisions] ([DivisionID])
GO
ALTER TABLE [dbo].[Tbl15Subdivisions] CHECK CONSTRAINT [FK_Tbl15Subdivisions_Tbl09Divisions]
GO
ALTER TABLE [dbo].[Tbl18Superclasses]  WITH CHECK ADD  CONSTRAINT [FK_Tbl18Superclasses_Tbl12Subphylums] FOREIGN KEY([SubphylumID])
REFERENCES [dbo].[Tbl12Subphylums] ([SubphylumID])
GO
ALTER TABLE [dbo].[Tbl18Superclasses] CHECK CONSTRAINT [FK_Tbl18Superclasses_Tbl12Subphylums]
GO
ALTER TABLE [dbo].[Tbl18Superclasses]  WITH CHECK ADD  CONSTRAINT [FK_Tbl18Superclasses_Tbl15Subdivisions] FOREIGN KEY([SubdivisionID])
REFERENCES [dbo].[Tbl15Subdivisions] ([SubdivisionID])
GO
ALTER TABLE [dbo].[Tbl18Superclasses] CHECK CONSTRAINT [FK_Tbl18Superclasses_Tbl15Subdivisions]
GO
ALTER TABLE [dbo].[Tbl21Classes]  WITH CHECK ADD  CONSTRAINT [FK_Tbl21Classes_Tbl18Superclasses] FOREIGN KEY([SuperclassID])
REFERENCES [dbo].[Tbl18Superclasses] ([SuperclassID])
GO
ALTER TABLE [dbo].[Tbl21Classes] CHECK CONSTRAINT [FK_Tbl21Classes_Tbl18Superclasses]
GO
ALTER TABLE [dbo].[Tbl24Subclasses]  WITH CHECK ADD  CONSTRAINT [FK_Tbl24Subclasses_Tbl21Classes] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Tbl21Classes] ([ClassID])
GO
ALTER TABLE [dbo].[Tbl24Subclasses] CHECK CONSTRAINT [FK_Tbl24Subclasses_Tbl21Classes]
GO
ALTER TABLE [dbo].[Tbl27Infraclasses]  WITH CHECK ADD  CONSTRAINT [FK_Tbl27Infraclasses_Tbl24Sublasses] FOREIGN KEY([SubclassID])
REFERENCES [dbo].[Tbl24Subclasses] ([SubclassID])
GO
ALTER TABLE [dbo].[Tbl27Infraclasses] CHECK CONSTRAINT [FK_Tbl27Infraclasses_Tbl24Sublasses]
GO
ALTER TABLE [dbo].[Tbl30Legios]  WITH CHECK ADD  CONSTRAINT [FK_Tbl30Legios_Tbl27Infraclasses] FOREIGN KEY([InfraclassID])
REFERENCES [dbo].[Tbl27Infraclasses] ([InfraclassID])
GO
ALTER TABLE [dbo].[Tbl30Legios] CHECK CONSTRAINT [FK_Tbl30Legios_Tbl27Infraclasses]
GO
ALTER TABLE [dbo].[Tbl33Ordos]  WITH CHECK ADD  CONSTRAINT [FK_Tbl33Ordos_Tbl30Legios] FOREIGN KEY([LegioID])
REFERENCES [dbo].[Tbl30Legios] ([LegioID])
GO
ALTER TABLE [dbo].[Tbl33Ordos] CHECK CONSTRAINT [FK_Tbl33Ordos_Tbl30Legios]
GO
ALTER TABLE [dbo].[Tbl36Subordos]  WITH CHECK ADD  CONSTRAINT [FK_Tbl36Subordos_Tbl33Ordos] FOREIGN KEY([OrdoID])
REFERENCES [dbo].[Tbl33Ordos] ([OrdoID])
GO
ALTER TABLE [dbo].[Tbl36Subordos] CHECK CONSTRAINT [FK_Tbl36Subordos_Tbl33Ordos]
GO
ALTER TABLE [dbo].[Tbl39Infraordos]  WITH CHECK ADD  CONSTRAINT [FK_Tbl39Infraordos_Tbl36Subordos] FOREIGN KEY([SubordoID])
REFERENCES [dbo].[Tbl36Subordos] ([SubordoID])
GO
ALTER TABLE [dbo].[Tbl39Infraordos] CHECK CONSTRAINT [FK_Tbl39Infraordos_Tbl36Subordos]
GO
ALTER TABLE [dbo].[Tbl42Superfamilies]  WITH CHECK ADD  CONSTRAINT [FK_Tbl42Superfamilies_Tbl39Infraordos] FOREIGN KEY([InfraordoID])
REFERENCES [dbo].[Tbl39Infraordos] ([InfraordoID])
GO
ALTER TABLE [dbo].[Tbl42Superfamilies] CHECK CONSTRAINT [FK_Tbl42Superfamilies_Tbl39Infraordos]
GO
ALTER TABLE [dbo].[Tbl45Families]  WITH CHECK ADD  CONSTRAINT [FK_Tbl45Families_Tbl42Superfamilies] FOREIGN KEY([SuperfamilyID])
REFERENCES [dbo].[Tbl42Superfamilies] ([SuperfamilyID])
GO
ALTER TABLE [dbo].[Tbl45Families] CHECK CONSTRAINT [FK_Tbl45Families_Tbl42Superfamilies]
GO
ALTER TABLE [dbo].[Tbl48Subfamilies]  WITH CHECK ADD  CONSTRAINT [FK_Tbl48Subfamilies_Tbl45Families] FOREIGN KEY([FamilyID])
REFERENCES [dbo].[Tbl45Families] ([FamilyID])
GO
ALTER TABLE [dbo].[Tbl48Subfamilies] CHECK CONSTRAINT [FK_Tbl48Subfamilies_Tbl45Families]
GO
ALTER TABLE [dbo].[Tbl51Infrafamilies]  WITH CHECK ADD  CONSTRAINT [FK_Tbl51Infrafamilies_Tbl48Subfamilies] FOREIGN KEY([SubfamilyID])
REFERENCES [dbo].[Tbl48Subfamilies] ([SubfamilyID])
GO
ALTER TABLE [dbo].[Tbl51Infrafamilies] CHECK CONSTRAINT [FK_Tbl51Infrafamilies_Tbl48Subfamilies]
GO
ALTER TABLE [dbo].[Tbl54Supertribusses]  WITH CHECK ADD  CONSTRAINT [FK_Tbl54Supertribusses_Tbl51Infrafamilies] FOREIGN KEY([InfrafamilyID])
REFERENCES [dbo].[Tbl51Infrafamilies] ([InfrafamilyID])
GO
ALTER TABLE [dbo].[Tbl54Supertribusses] CHECK CONSTRAINT [FK_Tbl54Supertribusses_Tbl51Infrafamilies]
GO
ALTER TABLE [dbo].[Tbl57Tribusses]  WITH CHECK ADD  CONSTRAINT [FK_Tbl57Tribusses_Tbl54Supertribusses] FOREIGN KEY([SupertribusID])
REFERENCES [dbo].[Tbl54Supertribusses] ([SupertribusID])
GO
ALTER TABLE [dbo].[Tbl57Tribusses] CHECK CONSTRAINT [FK_Tbl57Tribusses_Tbl54Supertribusses]
GO
ALTER TABLE [dbo].[Tbl60Subtribusses]  WITH CHECK ADD  CONSTRAINT [FK_Tbl60Subtribusses_Tbl57Tribusses] FOREIGN KEY([TribusID])
REFERENCES [dbo].[Tbl57Tribusses] ([TribusID])
GO
ALTER TABLE [dbo].[Tbl60Subtribusses] CHECK CONSTRAINT [FK_Tbl60Subtribusses_Tbl57Tribusses]
GO
ALTER TABLE [dbo].[Tbl63Infratribusses]  WITH CHECK ADD  CONSTRAINT [FK_Tbl63Infratribusses_Tbl60Subtribusses] FOREIGN KEY([SubtribusID])
REFERENCES [dbo].[Tbl60Subtribusses] ([SubtribusID])
GO
ALTER TABLE [dbo].[Tbl63Infratribusses] CHECK CONSTRAINT [FK_Tbl63Infratribusses_Tbl60Subtribusses]
GO
ALTER TABLE [dbo].[Tbl66Genusses]  WITH CHECK ADD  CONSTRAINT [FK_Tbl66Genusses_Tbl63Infratribusses] FOREIGN KEY([InfratribusID])
REFERENCES [dbo].[Tbl63Infratribusses] ([InfratribusID])
GO
ALTER TABLE [dbo].[Tbl66Genusses] CHECK CONSTRAINT [FK_Tbl66Genusses_Tbl63Infratribusses]
GO
ALTER TABLE [dbo].[Tbl69FiSpeciesses]  WITH CHECK ADD  CONSTRAINT [FK_Tbl69FiSpeciesses_Tbl66Genusses] FOREIGN KEY([GenusID])
REFERENCES [dbo].[Tbl66Genusses] ([GenusID])
GO
ALTER TABLE [dbo].[Tbl69FiSpeciesses] CHECK CONSTRAINT [FK_Tbl69FiSpeciesses_Tbl66Genusses]
GO
ALTER TABLE [dbo].[Tbl69FiSpeciesses]  WITH CHECK ADD  CONSTRAINT [FK_Tbl69FiSpeciesses_Tbl68Speciesgroups] FOREIGN KEY([SpeciesgroupID])
REFERENCES [dbo].[Tbl68Speciesgroups] ([SpeciesgroupID])
GO
ALTER TABLE [dbo].[Tbl69FiSpeciesses] CHECK CONSTRAINT [FK_Tbl69FiSpeciesses_Tbl68Speciesgroups]
GO
ALTER TABLE [dbo].[Tbl72PlSpeciesses]  WITH CHECK ADD  CONSTRAINT [FK_Tbl72PlSpeciesses_Tbl66Genusses] FOREIGN KEY([GenusID])
REFERENCES [dbo].[Tbl66Genusses] ([GenusID])
GO
ALTER TABLE [dbo].[Tbl72PlSpeciesses] CHECK CONSTRAINT [FK_Tbl72PlSpeciesses_Tbl66Genusses]
GO
ALTER TABLE [dbo].[Tbl72PlSpeciesses]  WITH CHECK ADD  CONSTRAINT [FK_Tbl72PlSpeciesses_Tbl68Speciesgroups] FOREIGN KEY([SpeciesgroupID])
REFERENCES [dbo].[Tbl68Speciesgroups] ([SpeciesgroupID])
GO
ALTER TABLE [dbo].[Tbl72PlSpeciesses] CHECK CONSTRAINT [FK_Tbl72PlSpeciesses_Tbl68Speciesgroups]
GO
ALTER TABLE [dbo].[Tbl78Names]  WITH CHECK ADD  CONSTRAINT [FK_Tbl78Names_Tbl69FiSpeciesses] FOREIGN KEY([FiSpeciesID])
REFERENCES [dbo].[Tbl69FiSpeciesses] ([FiSpeciesID])
GO
ALTER TABLE [dbo].[Tbl78Names] CHECK CONSTRAINT [FK_Tbl78Names_Tbl69FiSpeciesses]
GO
ALTER TABLE [dbo].[Tbl78Names]  WITH CHECK ADD  CONSTRAINT [FK_Tbl78Names_Tbl72PlSpeciesses] FOREIGN KEY([PlSpeciesID])
REFERENCES [dbo].[Tbl72PlSpeciesses] ([PlSpeciesID])
GO
ALTER TABLE [dbo].[Tbl78Names] CHECK CONSTRAINT [FK_Tbl78Names_Tbl72PlSpeciesses]
GO
ALTER TABLE [dbo].[Tbl81Images]  WITH CHECK ADD  CONSTRAINT [FK_Tbl81Images_Tbl69FiSpeciesses] FOREIGN KEY([FiSpeciesID])
REFERENCES [dbo].[Tbl69FiSpeciesses] ([FiSpeciesID])
GO
ALTER TABLE [dbo].[Tbl81Images] CHECK CONSTRAINT [FK_Tbl81Images_Tbl69FiSpeciesses]
GO
ALTER TABLE [dbo].[Tbl81Images]  WITH CHECK ADD  CONSTRAINT [FK_Tbl81Images_Tbl72PlSpeciesses] FOREIGN KEY([PlSpeciesID])
REFERENCES [dbo].[Tbl72PlSpeciesses] ([PlSpeciesID])
GO
ALTER TABLE [dbo].[Tbl81Images] CHECK CONSTRAINT [FK_Tbl81Images_Tbl72PlSpeciesses]
GO
ALTER TABLE [dbo].[Tbl84Synonyms]  WITH CHECK ADD  CONSTRAINT [FK_Tbl84Synonyms_Tbl69FiSpeciesses] FOREIGN KEY([FiSpeciesID])
REFERENCES [dbo].[Tbl69FiSpeciesses] ([FiSpeciesID])
GO
ALTER TABLE [dbo].[Tbl84Synonyms] CHECK CONSTRAINT [FK_Tbl84Synonyms_Tbl69FiSpeciesses]
GO
ALTER TABLE [dbo].[Tbl84Synonyms]  WITH CHECK ADD  CONSTRAINT [FK_Tbl84Synonyms_Tbl72PlSpeciesses] FOREIGN KEY([PlSpeciesID])
REFERENCES [dbo].[Tbl72PlSpeciesses] ([PlSpeciesID])
GO
ALTER TABLE [dbo].[Tbl84Synonyms] CHECK CONSTRAINT [FK_Tbl84Synonyms_Tbl72PlSpeciesses]
GO
ALTER TABLE [dbo].[Tbl87Geographics]  WITH CHECK ADD  CONSTRAINT [FK_Tbl87Geographics_Tbl69FiSpeciesses] FOREIGN KEY([FiSpeciesID])
REFERENCES [dbo].[Tbl69FiSpeciesses] ([FiSpeciesID])
GO
ALTER TABLE [dbo].[Tbl87Geographics] CHECK CONSTRAINT [FK_Tbl87Geographics_Tbl69FiSpeciesses]
GO
ALTER TABLE [dbo].[Tbl87Geographics]  WITH CHECK ADD  CONSTRAINT [FK_Tbl87Geographics_Tbl72PlSpeciesses] FOREIGN KEY([PlSpeciesID])
REFERENCES [dbo].[Tbl72PlSpeciesses] ([PlSpeciesID])
GO
ALTER TABLE [dbo].[Tbl87Geographics] CHECK CONSTRAINT [FK_Tbl87Geographics_Tbl72PlSpeciesses]
GO
ALTER TABLE [dbo].[Tbl90References]  WITH CHECK ADD  CONSTRAINT [FK_Tbl90References_Tbl03Regnums] FOREIGN KEY([RegnumID])
REFERENCES [dbo].[Tbl03Regnums] ([RegnumID])
GO
ALTER TABLE [dbo].[Tbl90References] CHECK CONSTRAINT [FK_Tbl90References_Tbl03Regnums]
GO
ALTER TABLE [dbo].[Tbl90References]  WITH CHECK ADD  CONSTRAINT [FK_Tbl90References_Tbl06Phylums] FOREIGN KEY([PhylumID])
REFERENCES [dbo].[Tbl06Phylums] ([PhylumID])
GO
ALTER TABLE [dbo].[Tbl90References] CHECK CONSTRAINT [FK_Tbl90References_Tbl06Phylums]
GO
ALTER TABLE [dbo].[Tbl90References]  WITH CHECK ADD  CONSTRAINT [FK_Tbl90References_Tbl09Divisions] FOREIGN KEY([DivisionID])
REFERENCES [dbo].[Tbl09Divisions] ([DivisionID])
GO
ALTER TABLE [dbo].[Tbl90References] CHECK CONSTRAINT [FK_Tbl90References_Tbl09Divisions]
GO
ALTER TABLE [dbo].[Tbl90References]  WITH CHECK ADD  CONSTRAINT [FK_Tbl90References_Tbl12Subphylums] FOREIGN KEY([SubphylumID])
REFERENCES [dbo].[Tbl12Subphylums] ([SubphylumID])
GO
ALTER TABLE [dbo].[Tbl90References] CHECK CONSTRAINT [FK_Tbl90References_Tbl12Subphylums]
GO
ALTER TABLE [dbo].[Tbl90References]  WITH CHECK ADD  CONSTRAINT [FK_Tbl90References_Tbl15Subdivisions] FOREIGN KEY([SubdivisionID])
REFERENCES [dbo].[Tbl15Subdivisions] ([SubdivisionID])
GO
ALTER TABLE [dbo].[Tbl90References] CHECK CONSTRAINT [FK_Tbl90References_Tbl15Subdivisions]
GO
ALTER TABLE [dbo].[Tbl90References]  WITH CHECK ADD  CONSTRAINT [FK_Tbl90References_Tbl18Superclasses] FOREIGN KEY([SuperclassID])
REFERENCES [dbo].[Tbl18Superclasses] ([SuperclassID])
GO
ALTER TABLE [dbo].[Tbl90References] CHECK CONSTRAINT [FK_Tbl90References_Tbl18Superclasses]
GO
ALTER TABLE [dbo].[Tbl90References]  WITH CHECK ADD  CONSTRAINT [FK_Tbl90References_Tbl21Classes] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Tbl21Classes] ([ClassID])
GO
ALTER TABLE [dbo].[Tbl90References] CHECK CONSTRAINT [FK_Tbl90References_Tbl21Classes]
GO
ALTER TABLE [dbo].[Tbl90References]  WITH CHECK ADD  CONSTRAINT [FK_Tbl90References_Tbl24Subclasses] FOREIGN KEY([SubclassID])
REFERENCES [dbo].[Tbl24Subclasses] ([SubclassID])
GO
ALTER TABLE [dbo].[Tbl90References] CHECK CONSTRAINT [FK_Tbl90References_Tbl24Subclasses]
GO
ALTER TABLE [dbo].[Tbl90References]  WITH CHECK ADD  CONSTRAINT [FK_Tbl90References_Tbl27Infraclasses] FOREIGN KEY([InfraclassID])
REFERENCES [dbo].[Tbl27Infraclasses] ([InfraclassID])
GO
ALTER TABLE [dbo].[Tbl90References] CHECK CONSTRAINT [FK_Tbl90References_Tbl27Infraclasses]
GO
ALTER TABLE [dbo].[Tbl90References]  WITH CHECK ADD  CONSTRAINT [FK_Tbl90References_Tbl30Legios] FOREIGN KEY([LegioID])
REFERENCES [dbo].[Tbl30Legios] ([LegioID])
GO
ALTER TABLE [dbo].[Tbl90References] CHECK CONSTRAINT [FK_Tbl90References_Tbl30Legios]
GO
ALTER TABLE [dbo].[Tbl90References]  WITH CHECK ADD  CONSTRAINT [FK_Tbl90References_Tbl33Ordos] FOREIGN KEY([OrdoID])
REFERENCES [dbo].[Tbl33Ordos] ([OrdoID])
GO
ALTER TABLE [dbo].[Tbl90References] CHECK CONSTRAINT [FK_Tbl90References_Tbl33Ordos]
GO
ALTER TABLE [dbo].[Tbl90References]  WITH CHECK ADD  CONSTRAINT [FK_Tbl90References_Tbl36Subordos] FOREIGN KEY([SubordoID])
REFERENCES [dbo].[Tbl36Subordos] ([SubordoID])
GO
ALTER TABLE [dbo].[Tbl90References] CHECK CONSTRAINT [FK_Tbl90References_Tbl36Subordos]
GO
ALTER TABLE [dbo].[Tbl90References]  WITH CHECK ADD  CONSTRAINT [FK_Tbl90References_Tbl39Infraordos] FOREIGN KEY([InfraordoID])
REFERENCES [dbo].[Tbl39Infraordos] ([InfraordoID])
GO
ALTER TABLE [dbo].[Tbl90References] CHECK CONSTRAINT [FK_Tbl90References_Tbl39Infraordos]
GO
ALTER TABLE [dbo].[Tbl90References]  WITH CHECK ADD  CONSTRAINT [FK_Tbl90References_Tbl42Superfamilies] FOREIGN KEY([SuperfamilyID])
REFERENCES [dbo].[Tbl42Superfamilies] ([SuperfamilyID])
GO
ALTER TABLE [dbo].[Tbl90References] CHECK CONSTRAINT [FK_Tbl90References_Tbl42Superfamilies]
GO
ALTER TABLE [dbo].[Tbl90References]  WITH CHECK ADD  CONSTRAINT [FK_Tbl90References_Tbl45Families] FOREIGN KEY([FamilyID])
REFERENCES [dbo].[Tbl45Families] ([FamilyID])
GO
ALTER TABLE [dbo].[Tbl90References] CHECK CONSTRAINT [FK_Tbl90References_Tbl45Families]
GO
ALTER TABLE [dbo].[Tbl90References]  WITH CHECK ADD  CONSTRAINT [FK_Tbl90References_Tbl48Subfamilies] FOREIGN KEY([SubfamilyID])
REFERENCES [dbo].[Tbl48Subfamilies] ([SubfamilyID])
GO
ALTER TABLE [dbo].[Tbl90References] CHECK CONSTRAINT [FK_Tbl90References_Tbl48Subfamilies]
GO
ALTER TABLE [dbo].[Tbl90References]  WITH CHECK ADD  CONSTRAINT [FK_Tbl90References_Tbl51Infrafamilies] FOREIGN KEY([InfrafamilyID])
REFERENCES [dbo].[Tbl51Infrafamilies] ([InfrafamilyID])
GO
ALTER TABLE [dbo].[Tbl90References] CHECK CONSTRAINT [FK_Tbl90References_Tbl51Infrafamilies]
GO
ALTER TABLE [dbo].[Tbl90References]  WITH CHECK ADD  CONSTRAINT [FK_Tbl90References_Tbl54Supertribusses] FOREIGN KEY([SupertribusID])
REFERENCES [dbo].[Tbl54Supertribusses] ([SupertribusID])
GO
ALTER TABLE [dbo].[Tbl90References] CHECK CONSTRAINT [FK_Tbl90References_Tbl54Supertribusses]
GO
ALTER TABLE [dbo].[Tbl90References]  WITH CHECK ADD  CONSTRAINT [FK_Tbl90References_Tbl57Tribusses] FOREIGN KEY([TribusID])
REFERENCES [dbo].[Tbl57Tribusses] ([TribusID])
GO
ALTER TABLE [dbo].[Tbl90References] CHECK CONSTRAINT [FK_Tbl90References_Tbl57Tribusses]
GO
ALTER TABLE [dbo].[Tbl90References]  WITH CHECK ADD  CONSTRAINT [FK_Tbl90References_Tbl60Subtribusses] FOREIGN KEY([SubtribusID])
REFERENCES [dbo].[Tbl60Subtribusses] ([SubtribusID])
GO
ALTER TABLE [dbo].[Tbl90References] CHECK CONSTRAINT [FK_Tbl90References_Tbl60Subtribusses]
GO
ALTER TABLE [dbo].[Tbl90References]  WITH CHECK ADD  CONSTRAINT [FK_Tbl90References_Tbl63Infratribusses] FOREIGN KEY([InfratribusID])
REFERENCES [dbo].[Tbl63Infratribusses] ([InfratribusID])
GO
ALTER TABLE [dbo].[Tbl90References] CHECK CONSTRAINT [FK_Tbl90References_Tbl63Infratribusses]
GO
ALTER TABLE [dbo].[Tbl90References]  WITH CHECK ADD  CONSTRAINT [FK_Tbl90References_Tbl66Genusses] FOREIGN KEY([GenusID])
REFERENCES [dbo].[Tbl66Genusses] ([GenusID])
GO
ALTER TABLE [dbo].[Tbl90References] CHECK CONSTRAINT [FK_Tbl90References_Tbl66Genusses]
GO
ALTER TABLE [dbo].[Tbl90References]  WITH CHECK ADD  CONSTRAINT [FK_Tbl90References_Tbl69FiSpeciesses] FOREIGN KEY([FiSpeciesID])
REFERENCES [dbo].[Tbl69FiSpeciesses] ([FiSpeciesID])
GO
ALTER TABLE [dbo].[Tbl90References] CHECK CONSTRAINT [FK_Tbl90References_Tbl69FiSpeciesses]
GO
ALTER TABLE [dbo].[Tbl90References]  WITH CHECK ADD  CONSTRAINT [FK_Tbl90References_Tbl72PlSpeciesses] FOREIGN KEY([PlSpeciesID])
REFERENCES [dbo].[Tbl72PlSpeciesses] ([PlSpeciesID])
GO
ALTER TABLE [dbo].[Tbl90References] CHECK CONSTRAINT [FK_Tbl90References_Tbl72PlSpeciesses]
GO
ALTER TABLE [dbo].[Tbl90References]  WITH CHECK ADD  CONSTRAINT [FK_Tbl90References_Tbl90RefAuthors] FOREIGN KEY([RefAuthorID])
REFERENCES [dbo].[Tbl90RefAuthors] ([RefAuthorID])
GO
ALTER TABLE [dbo].[Tbl90References] CHECK CONSTRAINT [FK_Tbl90References_Tbl90RefAuthors]
GO
ALTER TABLE [dbo].[Tbl90References]  WITH CHECK ADD  CONSTRAINT [FK_Tbl90References_Tbl90RefExperts] FOREIGN KEY([RefExpertID])
REFERENCES [dbo].[Tbl90RefExperts] ([RefExpertID])
GO
ALTER TABLE [dbo].[Tbl90References] CHECK CONSTRAINT [FK_Tbl90References_Tbl90RefExperts]
GO
ALTER TABLE [dbo].[Tbl90References]  WITH CHECK ADD  CONSTRAINT [FK_Tbl90References_Tbl90RefSources] FOREIGN KEY([RefSourceID])
REFERENCES [dbo].[Tbl90RefSources] ([RefSourceID])
GO
ALTER TABLE [dbo].[Tbl90References] CHECK CONSTRAINT [FK_Tbl90References_Tbl90RefSources]
GO
ALTER TABLE [dbo].[Tbl93Comments]  WITH CHECK ADD  CONSTRAINT [FK_Tbl93Comments_Tbl03Regnums] FOREIGN KEY([RegnumID])
REFERENCES [dbo].[Tbl03Regnums] ([RegnumID])
GO
ALTER TABLE [dbo].[Tbl93Comments] CHECK CONSTRAINT [FK_Tbl93Comments_Tbl03Regnums]
GO
ALTER TABLE [dbo].[Tbl93Comments]  WITH CHECK ADD  CONSTRAINT [FK_Tbl93Comments_Tbl06Phylums] FOREIGN KEY([PhylumID])
REFERENCES [dbo].[Tbl06Phylums] ([PhylumID])
GO
ALTER TABLE [dbo].[Tbl93Comments] CHECK CONSTRAINT [FK_Tbl93Comments_Tbl06Phylums]
GO
ALTER TABLE [dbo].[Tbl93Comments]  WITH CHECK ADD  CONSTRAINT [FK_Tbl93Comments_Tbl09Divisions] FOREIGN KEY([DivisionID])
REFERENCES [dbo].[Tbl09Divisions] ([DivisionID])
GO
ALTER TABLE [dbo].[Tbl93Comments] CHECK CONSTRAINT [FK_Tbl93Comments_Tbl09Divisions]
GO
ALTER TABLE [dbo].[Tbl93Comments]  WITH CHECK ADD  CONSTRAINT [FK_Tbl93Comments_Tbl12Subphylums] FOREIGN KEY([SubphylumID])
REFERENCES [dbo].[Tbl12Subphylums] ([SubphylumID])
GO
ALTER TABLE [dbo].[Tbl93Comments] CHECK CONSTRAINT [FK_Tbl93Comments_Tbl12Subphylums]
GO
ALTER TABLE [dbo].[Tbl93Comments]  WITH CHECK ADD  CONSTRAINT [FK_Tbl93Comments_Tbl15Subdivisions] FOREIGN KEY([SubdivisionID])
REFERENCES [dbo].[Tbl15Subdivisions] ([SubdivisionID])
GO
ALTER TABLE [dbo].[Tbl93Comments] CHECK CONSTRAINT [FK_Tbl93Comments_Tbl15Subdivisions]
GO
ALTER TABLE [dbo].[Tbl93Comments]  WITH CHECK ADD  CONSTRAINT [FK_Tbl93Comments_Tbl18Superclasses] FOREIGN KEY([SuperclassID])
REFERENCES [dbo].[Tbl18Superclasses] ([SuperclassID])
GO
ALTER TABLE [dbo].[Tbl93Comments] CHECK CONSTRAINT [FK_Tbl93Comments_Tbl18Superclasses]
GO
ALTER TABLE [dbo].[Tbl93Comments]  WITH CHECK ADD  CONSTRAINT [FK_Tbl93Comments_Tbl21Classes] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Tbl21Classes] ([ClassID])
GO
ALTER TABLE [dbo].[Tbl93Comments] CHECK CONSTRAINT [FK_Tbl93Comments_Tbl21Classes]
GO
ALTER TABLE [dbo].[Tbl93Comments]  WITH CHECK ADD  CONSTRAINT [FK_Tbl93Comments_Tbl24Subclasses] FOREIGN KEY([SubclassID])
REFERENCES [dbo].[Tbl24Subclasses] ([SubclassID])
GO
ALTER TABLE [dbo].[Tbl93Comments] CHECK CONSTRAINT [FK_Tbl93Comments_Tbl24Subclasses]
GO
ALTER TABLE [dbo].[Tbl93Comments]  WITH CHECK ADD  CONSTRAINT [FK_Tbl93Comments_Tbl27Infraclasses] FOREIGN KEY([InfraclassID])
REFERENCES [dbo].[Tbl27Infraclasses] ([InfraclassID])
GO
ALTER TABLE [dbo].[Tbl93Comments] CHECK CONSTRAINT [FK_Tbl93Comments_Tbl27Infraclasses]
GO
ALTER TABLE [dbo].[Tbl93Comments]  WITH CHECK ADD  CONSTRAINT [FK_Tbl93Comments_Tbl30Legios] FOREIGN KEY([LegioID])
REFERENCES [dbo].[Tbl30Legios] ([LegioID])
GO
ALTER TABLE [dbo].[Tbl93Comments] CHECK CONSTRAINT [FK_Tbl93Comments_Tbl30Legios]
GO
ALTER TABLE [dbo].[Tbl93Comments]  WITH CHECK ADD  CONSTRAINT [FK_Tbl93Comments_Tbl33Ordos] FOREIGN KEY([OrdoID])
REFERENCES [dbo].[Tbl33Ordos] ([OrdoID])
GO
ALTER TABLE [dbo].[Tbl93Comments] CHECK CONSTRAINT [FK_Tbl93Comments_Tbl33Ordos]
GO
ALTER TABLE [dbo].[Tbl93Comments]  WITH CHECK ADD  CONSTRAINT [FK_Tbl93Comments_Tbl36Subordos] FOREIGN KEY([SubordoID])
REFERENCES [dbo].[Tbl36Subordos] ([SubordoID])
GO
ALTER TABLE [dbo].[Tbl93Comments] CHECK CONSTRAINT [FK_Tbl93Comments_Tbl36Subordos]
GO
ALTER TABLE [dbo].[Tbl93Comments]  WITH CHECK ADD  CONSTRAINT [FK_Tbl93Comments_Tbl39Infraordos] FOREIGN KEY([InfraordoID])
REFERENCES [dbo].[Tbl39Infraordos] ([InfraordoID])
GO
ALTER TABLE [dbo].[Tbl93Comments] CHECK CONSTRAINT [FK_Tbl93Comments_Tbl39Infraordos]
GO
ALTER TABLE [dbo].[Tbl93Comments]  WITH CHECK ADD  CONSTRAINT [FK_Tbl93Comments_Tbl42Superfamilies] FOREIGN KEY([SuperfamilyID])
REFERENCES [dbo].[Tbl42Superfamilies] ([SuperfamilyID])
GO
ALTER TABLE [dbo].[Tbl93Comments] CHECK CONSTRAINT [FK_Tbl93Comments_Tbl42Superfamilies]
GO
ALTER TABLE [dbo].[Tbl93Comments]  WITH CHECK ADD  CONSTRAINT [FK_Tbl93Comments_Tbl45Families] FOREIGN KEY([FamilyID])
REFERENCES [dbo].[Tbl45Families] ([FamilyID])
GO
ALTER TABLE [dbo].[Tbl93Comments] CHECK CONSTRAINT [FK_Tbl93Comments_Tbl45Families]
GO
ALTER TABLE [dbo].[Tbl93Comments]  WITH CHECK ADD  CONSTRAINT [FK_Tbl93Comments_Tbl48Subfamilies] FOREIGN KEY([SubfamilyID])
REFERENCES [dbo].[Tbl48Subfamilies] ([SubfamilyID])
GO
ALTER TABLE [dbo].[Tbl93Comments] CHECK CONSTRAINT [FK_Tbl93Comments_Tbl48Subfamilies]
GO
ALTER TABLE [dbo].[Tbl93Comments]  WITH CHECK ADD  CONSTRAINT [FK_Tbl93Comments_Tbl51Infrafamilies] FOREIGN KEY([InfrafamilyID])
REFERENCES [dbo].[Tbl51Infrafamilies] ([InfrafamilyID])
GO
ALTER TABLE [dbo].[Tbl93Comments] CHECK CONSTRAINT [FK_Tbl93Comments_Tbl51Infrafamilies]
GO
ALTER TABLE [dbo].[Tbl93Comments]  WITH CHECK ADD  CONSTRAINT [FK_Tbl93Comments_Tbl54Supertribusses] FOREIGN KEY([SupertribusID])
REFERENCES [dbo].[Tbl54Supertribusses] ([SupertribusID])
GO
ALTER TABLE [dbo].[Tbl93Comments] CHECK CONSTRAINT [FK_Tbl93Comments_Tbl54Supertribusses]
GO
ALTER TABLE [dbo].[Tbl93Comments]  WITH CHECK ADD  CONSTRAINT [FK_Tbl93Comments_Tbl57Tribusses] FOREIGN KEY([TribusID])
REFERENCES [dbo].[Tbl57Tribusses] ([TribusID])
GO
ALTER TABLE [dbo].[Tbl93Comments] CHECK CONSTRAINT [FK_Tbl93Comments_Tbl57Tribusses]
GO
ALTER TABLE [dbo].[Tbl93Comments]  WITH CHECK ADD  CONSTRAINT [FK_Tbl93Comments_Tbl60Subtribusses] FOREIGN KEY([SubtribusID])
REFERENCES [dbo].[Tbl60Subtribusses] ([SubtribusID])
GO
ALTER TABLE [dbo].[Tbl93Comments] CHECK CONSTRAINT [FK_Tbl93Comments_Tbl60Subtribusses]
GO
ALTER TABLE [dbo].[Tbl93Comments]  WITH CHECK ADD  CONSTRAINT [FK_Tbl93Comments_Tbl63Infratribusses] FOREIGN KEY([InfratribusID])
REFERENCES [dbo].[Tbl63Infratribusses] ([InfratribusID])
GO
ALTER TABLE [dbo].[Tbl93Comments] CHECK CONSTRAINT [FK_Tbl93Comments_Tbl63Infratribusses]
GO
ALTER TABLE [dbo].[Tbl93Comments]  WITH CHECK ADD  CONSTRAINT [FK_Tbl93Comments_Tbl66Genusses] FOREIGN KEY([GenusID])
REFERENCES [dbo].[Tbl66Genusses] ([GenusID])
GO
ALTER TABLE [dbo].[Tbl93Comments] CHECK CONSTRAINT [FK_Tbl93Comments_Tbl66Genusses]
GO
ALTER TABLE [dbo].[Tbl93Comments]  WITH CHECK ADD  CONSTRAINT [FK_Tbl93Comments_Tbl69FiSpeciesses] FOREIGN KEY([FiSpeciesID])
REFERENCES [dbo].[Tbl69FiSpeciesses] ([FiSpeciesID])
GO
ALTER TABLE [dbo].[Tbl93Comments] CHECK CONSTRAINT [FK_Tbl93Comments_Tbl69FiSpeciesses]
GO
ALTER TABLE [dbo].[Tbl93Comments]  WITH CHECK ADD  CONSTRAINT [FK_Tbl93Comments_Tbl72PlSpeciesses] FOREIGN KEY([PlSpeciesID])
REFERENCES [dbo].[Tbl72PlSpeciesses] ([PlSpeciesID])
GO
ALTER TABLE [dbo].[Tbl93Comments] CHECK CONSTRAINT [FK_Tbl93Comments_Tbl72PlSpeciesses]
GO
USE [master]
GO
