@model Atis.Domain.Models.AspnetUser

       <!-- Edit Skriptdatum:  16.03.2012  10:32    -->

@{
    ViewBag.Title = AspnetUsersRes.StringsRes.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@AspnetUsersRes.StringsRes.Edit</h2>

@Html.Partial("_Form");

    
