@model Atis.Domain.Models.Tbl30Legio

       <!-- Edit Skriptdatum:  7.1.2012  10:32    -->

@{
    ViewBag.Title = Tbl30LegiosRes.StringsRes.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl30LegiosRes.StringsRes.Edit</h2>

@Html.Partial("_Form");

    
