@model Atis.Domain.Models.TblCounter     	

       <!-- Create Skriptdatum:  3.1.2012  12:32      -->

@{
    ViewBag.Title = TblCountersRes.StringsRes.Create;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@TblCountersRes.StringsRes.Create </h2>

@Html.Partial("_Form"); 

    
