@model Atis.Domain.Models.TblCounter

       <!-- Edit Skriptdatum:  3.1.2012  12:32      -->

@{
    ViewBag.Title = TblCountersRes.StringsRes.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@TblCountersRes.StringsRes.Edit</h2>

@Html.Partial("_Form");

    
