@model Atis.Domain.Models.Tbl57Tribus     	

       <!-- Create Skriptdatum:  7.1.2012  10:32    -->

@{
    ViewBag.Title = Tbl57TribussesRes.StringsRes.Create;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl57TribussesRes.StringsRes.Create </h2>

@Html.Partial("_Form"); 

    
