@model Atis.Domain.Models.AspnetUser     	

       <!-- Create Skriptdatum:  16.03.2012  10:32    -->

@{
    ViewBag.Title = AspnetUsersRes.StringsRes.Create;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@AspnetUsersRes.StringsRes.Create </h2>

@Html.Partial("_Form"); 

    
