<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
      <section name="ATIS.Ui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MyDbConnection"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ATIS35;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<appSettings>
    --><!--<add key="Title" value="ATIS"/>--><!--
    <add key="Language" value="CSharp"/>
    <add key="ServerName" value=".\SQLEXPRESS" />
    <add key="Port" value="1433" />
    <add key="WindowState" value="Normal" />
    <add key="Theme1" value="Light" />
    <add key="Accent1" value="Cyan" />
    <add key="Culture" value="de-DE" />
    <add key="ApplicationName" value="ATIS" />
    <add key="RemoteTestTimeout" value="700" />
    <add key="Database" value="ATIS35" />
    <add key="GitHub" value="https://github.com/" />
    <add key="Pdf" value="5LX7Z-5GUF6-UUYTR-8YOQC-XGT2B" />
  </appSettings>-->

  <userSettings>
    <ATIS.Ui.Properties.Settings>
      <setting name="Language" serializeAs="String">
        <value>CSharp</value>
      </setting>
      <setting name="ServerName" serializeAs="String">
        <value>.\SQLEXPRESS</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="Theme1" serializeAs="String">
        <value>Light</value>
      </setting>
      <setting name="Accent1" serializeAs="String">
        <value>Cyan</value>
      </setting>
      <setting name="Primary1" serializeAs="String">
        <value>Teal</value>
      </setting>
      <setting name="Culture" serializeAs="String">
        <value>de-DE</value>
      </setting>
      <setting name="ApplicationName" serializeAs="String">
        <value>ATIS</value>
      </setting>
      <setting name="RemoteTestTimeout" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>ATIS35</value>
      </setting>
      <setting name="GitHub" serializeAs="String">
        <value>https://github.com/</value>
      </setting>
      <setting name="Pdf" serializeAs="String">
        <value>5LX7Z-5GUF6-UUYTR-8YOQC-XGT2B</value>
      </setting>
    </ATIS.Ui.Properties.Settings>
  </userSettings>
</configuration>