<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connectionString" connectionString="server=.\SQLEXPRESS;database=ATIS35;trusted_connection=true;"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="Title" value="ATIS"/>-->
    <add key="Language" value="CSharp"/>
    <add key="ServerName" value=".\SQLEXPRESS" />
    <add key="Port" value="1433" />
    <add key="Top" value="0" />
    <add key="Left" value="0" />
    <add key="Height" value="750" />
    <add key="Width" value="1260" />
    <add key="WindowState" value="Normal" />
    <add key="Theme1" value="Light" />
    <add key="Accent1" value="Cyan" />
    <add key="Culture" value="de-DE" />
    <add key="ApplicationName" value="ATIS" />
    <add key="RemoteTestTimeout" value="700" />
    <add key="Database" value="ATIS35" />
    <add key="GitHub" value="https://github.com/" />
    <add key="Pdf" value="5LX7Z-5GUF6-UUYTR-8YOQC-XGT2B" />
  </appSettings>

</configuration>