@model Atis.Domain.Models.Tbl21Class     	

       <!-- Create Skriptdatum:  15.03.2012  18:32    -->

@{
    ViewBag.Title = Tbl21ClassesRes.StringsRes.Create;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl21ClassesRes.StringsRes.Create </h2>

@Html.Partial("_Form"); 

    
