@model Atis.Domain.Models.Tbl21Class

       <!-- Edit Skriptdatum:  15.03.2012  18:32    -->

@{
    ViewBag.Title = Tbl21ClassesRes.StringsRes.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl21ClassesRes.StringsRes.Edit</h2>

@Html.Partial("_Form");

    
