@model Atis.Domain.Models.AspnetApplication

       <!-- Edit Skriptdatum:  23.03.2012  10:32    -->

@{
    ViewBag.Title = AspnetApplicationsRes.StringsRes.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@AspnetApplicationsRes.StringsRes.Edit</h2>

@Html.Partial("_Form");

    
