@model Atis.Domain.Models.aspnet_User

       <!-- Edit Skriptdatum:  01.02.2012  10:32    -->

@{
    ViewBag.Title = aspnet_UsersRes.StringsRes.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@aspnet_UsersRes.StringsRes.Edit</h2>

@Html.Partial("_Form");

    
