@model Atis.Domain.Models.Tbl69FiSpecies     	

       <!-- Create Skriptdatum:  15.03.2012  10:32    -->

@{
    ViewBag.Title = Tbl69FiSpeciessesRes.StringsRes.Create;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl69FiSpeciessesRes.StringsRes.Create </h2>

@Html.Partial("_Form"); 

    
