@model Atis.Domain.Models.AspnetApplication     	

       <!-- Create Skriptdatum:  23.03.2012  10:32    -->

@{
    ViewBag.Title = AspnetApplicationsRes.StringsRes.Create;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@AspnetApplicationsRes.StringsRes.Create </h2>

@Html.Partial("_Form"); 

    
