@model Atis.Domain.Models.Tbl27Infraclass     	

       <!-- Create Skriptdatum:  30.12.2011  18:32    -->

@{
    ViewBag.Title = Tbl27InfraclassesRes.StringsRes.Create;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl27InfraclassesRes.StringsRes.Create </h2>

@Html.Partial("_Form"); 

    
