@model Atis.Domain.Models.Tbl66Genus     	

       <!-- Create Skriptdatum:  8.1.2012  10:32    -->

@{
    ViewBag.Title = Tbl66GenussesRes.StringsRes.Create;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl66GenussesRes.StringsRes.Create </h2>

@Html.Partial("_Form"); 

    
