@model Atis.Domain.Models.Tbl66Genus

       <!-- Edit Skriptdatum:  8.1.2012  10:32    -->

@{
    ViewBag.Title = Tbl66GenussesRes.StringsRes.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl66GenussesRes.StringsRes.Edit</h2>

@Html.Partial("_Form");

    
