@model Atis.Domain.Models.Tbl78Name     	

       <!-- Create Skriptdatum:  28.12.2011  10:32    -->

@{
    ViewBag.Title = Tbl78NamesRes.StringsRes.Create;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl78NamesRes.StringsRes.Create </h2>

@Html.Partial("_Form"); 

    
