@model Atis.Domain.Models.Tbl78Name

       <!-- Edit Skriptdatum:  28.12.2011  10:32    -->

@{
    ViewBag.Title = Tbl78NamesRes.StringsRes.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl78NamesRes.StringsRes.Edit</h2>

@Html.Partial("_Form");

    
