@model Atis.Domain.Models.AspnetMembership

       <!-- Edit Skriptdatum:  24.03.2012  10:32    -->

@{
    ViewBag.Title = AspnetMembershipsRes.StringsRes.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@AspnetMembershipsRes.StringsRes.Edit</h2>

@Html.Partial("_Form");

    
