@model Atis.Domain.Models.Tbl84Synonym     	

       <!-- Create Skriptdatum:  15.03.2012  10:32    -->

@{
    ViewBag.Title = Tbl84SynonymsRes.StringsRes.Create;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl84SynonymsRes.StringsRes.Create </h2>

@Html.Partial("_Form"); 

    
