@model Atis.Domain.Models.Tbl72PlSpecies     	

       <!-- Create Skriptdatum:  15.03.2012  10:32    -->

@{
    ViewBag.Title = Tbl72PlSpeciessesRes.StringsRes.Create;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl72PlSpeciessesRes.StringsRes.Create </h2>

@Html.Partial("_Form"); 

    
