@model Atis.Domain.Models.Tbl72PlSpecies

       <!-- Edit Skriptdatum:  15.03.2012  10:32    -->

@{
    ViewBag.Title = Tbl72PlSpeciessesRes.StringsRes.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl72PlSpeciessesRes.StringsRes.Edit</h2>

@Html.Partial("_Form");

    
