@model Atis.Domain.Models.Tbl45Family     	

       <!-- Create Skriptdatum:  15.03.2012  10:32    -->

@{
    ViewBag.Title = Tbl45FamiliesRes.StringsRes.Create;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl45FamiliesRes.StringsRes.Create </h2>

@Html.Partial("_Form"); 

    
