@model Atis.Domain.Models.Tbl36Subordo     	

       <!-- Create Skriptdatum:  7.1.2012  10:32    -->

@{
    ViewBag.Title = Tbl36SubordosRes.StringsRes.Create;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl36SubordosRes.StringsRes.Create </h2>

@Html.Partial("_Form"); 

    
