@model Atis.Domain.Models.Tbl36Subordo

       <!-- Edit Skriptdatum:  7.1.2012  10:32    -->

@{
    ViewBag.Title = Tbl36SubordosRes.StringsRes.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl36SubordosRes.StringsRes.Edit</h2>

@Html.Partial("_Form");

    
