@model Atis.Domain.Models.Tbl24Subclass     	

       <!-- Create Skriptdatum:  20.12.2011  18:32    -->

@{
    ViewBag.Title = Tbl24SubclassesRes.StringsRes.Create;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl24SubclassesRes.StringsRes.Create </h2>

@Html.Partial("_Form"); 

    
