@model Atis.Domain.Models.Tbl24Subclass

       <!-- Edit Skriptdatum:  20.12.2011  18:32    -->

@{
    ViewBag.Title = Tbl24SubclassesRes.StringsRes.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl24SubclassesRes.StringsRes.Edit</h2>

@Html.Partial("_Form");

    
