@model Atis.Domain.Models.Tbl87Geographic     	

       <!-- Create Skriptdatum:  15.03.2012  10:32    -->

@{
    ViewBag.Title = Tbl87GeographicsRes.StringsRes.Create;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl87GeographicsRes.StringsRes.Create </h2>

@Html.Partial("_Form"); 

    
