@model Atis.Domain.Models.Tbl03Regnum

       <!-- Edit Skriptdatum:  12.03.2014  12:32      -->

@{
    ViewBag.Title = Tbl03RegnumsRes.StringsRes.EditTop;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl03RegnumsRes.StringsRes.Edit</h2>

@Html.Partial("_Form");

    
