<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
			<section name="ATIS.WinUi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="MyDbConnection"
		     connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ATIS34;Integrated Security=True;TrustServerCertificate=True"
		     providerName="System.Data.SqlClient" />
		<!--<add name="MyDbConnection"
		     connectionString="Data Source=SRV19SQL19VM1\MSSQLSERVER,1433;Initial Catalog=ATIS34;
			 Integrated Security=True;MultipleActiveResultSets=True"
		     providerName="System.Data.SqlClient" />-->
	</connectionStrings>

	<appSettings>
		<add key="Top" value="0"/>
		<add key="Left" value="0"/>
		<add key="Width" value="600"/>
		<add key="Height" value="1200"/>
		<add key="Language" value="CSharp"/>
		<add key="ServerName" value=".\SQLEXPRESS"/>
		<add key="Port" value="1433"/>
		<!-- send mail with 1&1 z.b. for PasswordForgot.  -->
		<add key="SmtpHost" value="smtp.1und1.de" />
		<add key="SmtpPort" value="587" />
		<add key="ImapHost" value="imap.1and1.de" />
		<add key="ImapPort" value="993" />
		<add key="Sender" value="rudolf@terppe.de" />
		<add key="CryptMailPassword" value="1ClSVlw+OR/XJdQpBNAxeq3vfDAzNri0J1fbZrhgPSI88WWA0WeMHlAc6ylJMDbKUiG2fZs7weudQHqIAtSUlg==" />
		<add key="EncryptMailAccountPassword" value="fc+vbItFfOezE5aiz5uzZy43xAB/v+AWvPd/r8VLwE8=" />
		<!--<add key="MailPassword" value="$MeineFh@M0424%" />-->
		<add key="Bing" value="Ai4CQexF-DWddfmN5GMnm8RD19EW_5adcMQAu9Rdzw5LiMxAQ-DeLBKVEG9AcLMg"/>
		<add key="Theme1" value="Light"/>
		<add key="Accent1" value="Cyan"/>
		<add key="Primary1" value="Teal"/>
		<add key="BackgroundBrush" value="#FFADD8E6"/>
		<add key="Culture" value="de-DE"/>
		<add key="ApplicationName" value="ATIS"/>
		<add key="RemoteTestTimeout" value="700"/>
		<add key="Database" value="ATIS34"/>
		<add key="Pdf" value="6TKB9-WAOW7-PIDGW-YXIRC-OIW9R"/>
		<add key="PdfPath" value="D:\Temp\"/>
		<add key="ReportPdfRightTab" value="150"/>
		<add key="GitHub" value="https://github.com/"/>
		<add key="ItisUSA" value="https://itis.gov/"/>
		<add key="ItisCanada" value="http://www.cbif.gc.ca/"/>
		<add key="CoLife" value="http://www.catalogueoflife.org/annual-checklist/2015/"/>
		<add key="EOL" value="http://www.eol.org/"/>
		<add key="Mexico" value="http://www.conabio.gob.mx/"/>
		<add key="GlobalBio" value="http://www.gbif.org/"/>
		<add key="Updated" value="False"/>
		<add key="CheckedUpdate" value="0.0"/>
	</appSettings>

</configuration>