@model Atis.Domain.Models.TblUserProfile     	

       <!-- Create Skriptdatum:  16.03.2012  10:32    -->

@{
    ViewBag.Title = TblUserProfilesRes.StringsRes.Create;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@TblUserProfilesRes.StringsRes.Create </h2>

@Html.Partial("_Form"); 

    
