@model Atis.Domain.Models.TblUserProfile

       <!-- Edit Skriptdatum:  16.03.2012  10:32    -->

@{
    ViewBag.Title = TblUserProfilesRes.StringsRes.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@TblUserProfilesRes.StringsRes.Edit</h2>

@Html.Partial("_Form");

    
