@model Atis.Domain.Models.Tbl33Ordo     	

       <!-- Create Skriptdatum:  7.1.2012  10:32    -->

@{
    ViewBag.Title = Tbl33OrdosRes.StringsRes.Create;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl33OrdosRes.StringsRes.Create </h2>

@Html.Partial("_Form"); 

    
