@model Atis.Domain.Models.Tbl68Speciesgroup

       <!-- Edit Skriptdatum:  15.03.2012  10:32    -->

@{
    ViewBag.Title = Tbl68SpeciesgroupsRes.StringsRes.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl68SpeciesgroupsRes.StringsRes.Edit</h2>

@Html.Partial("_Form");

    
