@model Atis.Domain.Models.Tbl93Comment

       <!-- Edit Skriptdatum:  15.03.2012  10:32    -->

@{
    ViewBag.Title = Tbl93CommentsRes.StringsRes.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl93CommentsRes.StringsRes.Edit</h2>

@Html.Partial("_Form");

    
