@model Atis.Domain.Models.Tbl90RefExpert     	

       <!-- Create Skriptdatum:  29.12.2011  10:32    -->

@{
    ViewBag.Title = Tbl90RefExpertsRes.StringsRes.Create;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl90RefExpertsRes.StringsRes.Create </h2>

@Html.Partial("_Form"); 

    
