@model Atis.Domain.Models.Tbl90RefExpert

       <!-- Edit Skriptdatum:  29.12.2011  10:32    -->

@{
    ViewBag.Title = Tbl90RefExpertsRes.StringsRes.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl90RefExpertsRes.StringsRes.Edit</h2>

@Html.Partial("_Form");

    
